/* -------------------------------- User attribute styles -------------------------------- */

#userAttr {
  border-radius: 15px;
  background-color: #0f1418;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1%;
  margin: 2%;
	margin-top: 0;
  width: 20%;
	font-size: 0.8em;
}

#userAttr p {
  color: burlywood;
  /* font-size: 1.2em; */
}

/* Date div */

#dateDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 5px;
  padding: 25px;
  text-align: center;
  width: 70%;
  border-bottom: 1px solid #ccc;
}

#dateDiv input{
  padding: 3%;
}

/* Attr div */

#AttrDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 5px;
  padding: 25px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  width: 70%;
}

#AttrDiv form label {
 margin: 0 4px;
}

/* Refresh button */

#refresh {
	font-size: 0.8em;
  font-weight: 600;
  margin: 20px 0px;
  width: 50%;
  background-color: burlywood;
  outline: none;
  border: none;
  border-radius: 15px;
  padding: 8px;
  color: #0f1418;
  box-shadow: 1px 2px 2px rgba(0,0,0,0.5);
}

#refresh:hover {
  box-shadow: inset 1px 2px 2px rgba(0,0,0,0.5);
}

#refresh:active {
  box-shadow: inset 2px 3px 3px rgba(0,0,0,0.5); 
}

form ul {
	text-align: start;
    list-style: none;
    margin: 0;
    padding: 5px;
}
/* -------------------------------- Map div -------------------------------- */

#MapDiv{
  background-color: #141a1d;
  border-radius: 15px;
  overflow: auto;
  margin: 2%;
	margin-top: 0;
  width: 65%;
}

/* SVG */

svg{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: block;
}

/* @media(max-width: 600px){
		#AttrDiv form {
		display: flex; */
		/* flex-direction: column; */
		/* justify-content: center;
		align-items: center;
		flex-wrap: nowrap; */
	/* }
} */

/* @media(max-width: 395px){
	#AttrDiv form {
		flex-wrap: wrap;
	}
	#AttrDiv form input {
		margin: 15px;
	}
} */

@media(max-width: 870px){
	#container{
		flex-direction: column;
	}
	#MapDiv, #userAttr {
		width: 100%;
		margin: 0;
	}
}

