/* -------------------------------- User attribute styles -------------------------------- */

#userAttr {
  border-radius: 15px;
  background-color: #0f1418;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2%;
  margin: 3% 0;
  width: 100%;
}

#userAttr p {
  color: burlywood;
  font-size: 1.2em;
}

/* Date div */

#dateDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 5px;
  padding: 25px;
  text-align: center;
  width: 400px;
  border-bottom: 1px solid #ccc;
}

#dateDiv input{
  padding: 10px;
}

/* Attr div */

#AttrDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 5px;
  padding: 25px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  width: 400px;
}

#AttrDiv form label {
 margin: 0 4px;
}

/* Refresh button */

#refresh {
  font-weight: 600;
  margin: 30px 0px;
  width: 50%;
  background-color: burlywood;
  outline: none;
  border: none;
  border-radius: 15px;
  padding: 10px;
  color: #0f1418;
  box-shadow: 1px 2px 2px rgba(0,0,0,0.5);
}

#refresh:hover {
  box-shadow: inset 1px 2px 2px rgba(0,0,0,0.5);
}

#refresh:active {
  box-shadow: inset 2px 3px 3px rgba(0,0,0,0.5); 
}


/* -------------------------------- Map div -------------------------------- */

#MapDiv{
  background-color: #141a1d;
  border-radius: 15px;
  overflow: auto;
  margin: 3% 0;
  width: 100%;
}

/* SVG */

svg{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: block;
}
