<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://img.icons8.com/wired/64/000000/coronavirus.png" />
    <title>Coronavirus Data Dashboard</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="Home/home.css">
</head>
	<body>
		<!-- ----------------------------------------- Loading div ----------------------------------------- -->
		<div class='loadingIcon'><i class="fas fa-virus fa-6x"></i></div>
		
		<!-- ----------------------------------------- Content ----------------------------------------- -->
		
		<div class="content">
			
			<!-- NAV BAR -->
			<div id='navBtn'><i class="fas fa-times fa-lg"></i></div>

			<nav>
				<ul id='navUL' class='navcollaps'>
					<li class='navLinks currentNV'><a href='/home'><i class="fas fa-home fa-lg"></i> Home </a></li>					
					<li class='navLinks'><a href='/map'><i class="fas fa-globe-asia fa-lg"></i> Map </a></li>
					<li class='navLinks'><a href='/scatterplot'><i class="far fa-circle fa-lg"></i> Scatterplot </a></li>
					<li class='navLinks'><a href='/barchart'><i class="far fa-chart-bar fa-lg"></i> Barchart </a></li>
					<li class='navLinks'><a href='/piechart'><i class="fas fa-chart-pie fa-lg"></i> Piechart </a></li> 
					<li class='navLinks'><a href='/info'><i class="fas fa-info-circle fa-lg"></i> Information </a></li> 
				</ul>
			</nav>
			
			<div id='ctn'>
				<!-- TITLE -->
       			<h1 id='title'>Coronavirus <br> Data Dashboard <i class="fas fa-virus"></i> <br> <span id='mainTitleDate'></span></span></h1>
				<div id='htext'>
					Data Visualization project on Cases, Active cases, Deaths and Recovered patients of the COVID-19 pandemic.
				</div>
			</div>
		
		</div>
	   <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="app.js"></script>
	</body>
</html>