<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://img.icons8.com/wired/64/000000/coronavirus.png" />
    <title>Coronavirus - Info</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="Info/info.css">
</head>
<body>

    
    <!-- ----------------------------------------- Loading div ----------------------------------------- -->
    <div class='loadingIcon'><i class="fas fa-virus fa-8x"></i></div>

    <!-- ----------------------------------------- Content ----------------------------------------- -->
    <div class="content">

        <!-- NAV BAR -->
        <div id='navBtn'><i class="fas fa-times fa-lg"></i></div>

        <nav>
            <ul id='navUL' class='navcollaps'>
                <li class='navLinks'><a href='/map'><i class="fas fa-globe-asia fa-lg"></i></a></li>
                <li class='navLinks'><a href='/scatterplot'><i class="far fa-circle fa-lg"></i></a></li>
                <li class='navLinks'><a href='/barchart'><i class="far fa-chart-bar fa-lg"></i></a></li>
                <li class='navLinks'><a href='/piechart'><i class="fas fa-chart-pie fa-lg"></i></a></li> 
                <li class='navLinks currentNV'><a href='/info'><i class="fas fa-info-circle fa-lg"></i></a></li> 
            </ul>
        </nav>

        <!-- TITLE -->
        <h1 id='title'>Coronavirus Data Dashboard <i class="fas fa-virus"></i> <br> <span id='mainTitleDate'></span></span></h1>
        
        <!-- Info TITLE -->
        <h1 id='infoTitle'>About</h1>                

        <!-- CONTAINER -->
        <div id='container'>



            <div id="nishiImg">
                <img src='Info/nishiImg(1).jpg'/>
            </div>

            <div id='intro'>
                <p>
                    Hello! I am Nishi Anand, a B.Tech Computer Science and Engineering student from SRM Institute of Science and Technology, Tamil Nadu, India. 
                    This is a data visualization dashboard to visualize data related to the coronavirus pandemic. 
                    I have created a Map visualization, Bar chart, Pie chart and a Scatterplot to visualize mainly 3 attributes - Number of cases, deaths and number of recovered patients.
                    You can change the dates and the attributes in the space provided below every visualization.
                </p>
            </div>

            <div id='resources'>
                <p>
                    The API used to get the relavent data is by Narrativa. Details on how to use this API is in the link i have mentioned below.

                    <a id='apiLink' href='https://api.covid19tracking.narrativa.com/' target="_blank">https://api.covid19tracking.narrativa.com/</a>

                    I used <a href='https://d3js.org/' target="_blank">D3.js</a> to create the visualizations, <a href='https://jquery.com/' target="_blank">JQuery</a> to perform the neccessary DOM Manipulations, 
                    <a href='https://fontawesome.com/' target="_blank">Font awesome</a> for the icons, <a href='https://fonts.google.com/' target="_blank">Google fonts</a> for the fonts, <a href='https://nodejs.org/en/' target="_blank">Node.js</a> with <a href='https://expressjs.com/' target="_blank">Express.js</a> for the backend and <a href='https://www.heroku.com/' target="_blank">Heroku</a> to deploy the application. 
                </p>
            </div>

            <div id='covidInfo'>
                <p>For more coronavirus information -</p>
                <ul>
                    <li><a href="https://www.who.int/health-topics/coronavirus#tab=tab_1" target="_blank">World Health Organization</a></li>
                    <li><a href="https://news.google.com/topics/CAAqIggKIhxDQkFTRHdvSkwyMHZNREZqY0hsNUVnSmxiaWdBUAE?oc=3&ceid=IN:en" target="_blank">Google news</a></li>
                    <li><a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html" target="_blank">Centers for Disease Control and Prevention</a></li>
                </ul>
                
            </div>

            <div id='contacts'>
                <ul>
                    <li><a href='https://www.linkedin.com/in/nishi-anand-210734171/' target="_blank"><i class="fab fa-linkedin fa-3x"></i></a></li>
                    <li><a href='https://github.com/nishianand05' target="_blank"><i class="fab fa-github fa-3x"></i></a></li>
                    <li><a href='https://codepen.io/nishianand30' target="_blank"><i class="fab fa-codepen fa-3x"></i></a></li>
                    <li><a href="https://www.instagram.com/nishianand30/" target="_blank"><i class="fab fa-instagram fa-3x"></i></a></li>
                </ul>
            </div>


        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v4.js"></script>
   <script src="app.js"></script>
    <script src="Info/info.js"></script>
</body>
</html>
