<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="coronavirus.png" />
        <title>Coronavirus Data Dashboard</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="Piechart/pie.css">
    </head>
    <body>


        <!-- ----------------------------------------- Loading div ----------------------------------------- -->
        <div class='loadingIcon'><i class="fas fa-virus fa-6x"></i></div>

        <!-- ----------------------------------------- Content ----------------------------------------- -->
        <div class="content">

            <!-- NAV BAR -->
		<div id='navBtn' class='navBtnAlt'><i class="fas fa-bars fa-lg"></i></div>



        <nav>
            <ul id='navUL' class='navcollaps'>
                <li class='navLinks'><a href='/map'><i class="fas fa-globe-asia fa-lg"></i> Map </a></li>
                <li class='navLinks'><a href='/scatterplot'><i class="far fa-circle fa-lg"></i> Scatterplot </a></li>
                <li class='navLinks'><a href='/barchart'><i class="far fa-chart-bar fa-lg"></i> Barchart </a></li>
                <li class='navLinks currentNV'><a href='/piechart'><i class="fas fa-chart-pie fa-lg"></i> Piechart </a></li> 
                <li class='navLinks'><a href='/info'><i class="fas fa-info-circle fa-lg"></i> Information </a></li> 
            </ul>
        </nav>


            <!-- ALERT MESSAGE -->
            <div class='alert hide'>
                <i class="fas fa-exclamation-triangle fa-lg"></i>
                <p>Data unavailable!</p>
                <button id="crossbtn"><i class="fas fa-times fa-lg"></i></button>
            </div>

            <!-- TITLE -->
            <h1 id='title'>Coronavirus Data Dashboard <i class="fas fa-virus"></i> <br> <span id='mainTitleDate'></span></span></h1>
                

            <!-- CONTAINER -->
            <div id='container'>

                <div id='totalValues'>
                    <div id='tCases'>
                        <p id='tCasesTitle'>Cases Worldwide</p>
                        <p id='tCasesValue'></p>
                        <p id='newtCasesValue'></p>
                    </div>
				<div id='tActiveCases'>
                    <p id='tActiveCasesTitle'>Active Cases Worldwide</p>
                    <p id='tActiveCasesValue'></p>
                    <p id='newtActiveCasesValue'></p>
                </div>
                    <div id='tDeaths'>
                        <p id='tDeathsTitle'>Deaths Worldwide</p>
                        <p id='tDeathsValue'></p>
                        <p id='newtDeathsValue'></p>
                    </div>
                    <div id='tRecovered'>
                        <p id='tRecoveredTitle'>Recovered Worldwide</p>
                        <p id='tRecoveredValue'></p>
                        <p id='newtRecoveredValue'></p>
                    </div>
                </div>



                <!-- Pie chart SVG -->
                <div id='PieDiv'>
<!-- PIE TITLE -->
                <h1 id='pieTitle'>Piechart - Cases (2021-04-21)</h1>                
					
                    <svg version="1.1"
                    baseProfile="full"
                    xmlns="http://www.w3.org/2000/svg" id='pie'
                    viewBox="0 0 400 400" enable-background="new 0 0 400 400" 
                    xml:space="preserve"></svg>
                </div>

                <!-- User selection div -->
                <div id='userAttr'>

                    <!-- Date div -->
                    <div id='dateDiv'>
                        <p>Enter date</p>
                        <input id='dateInput' type="date">
                    </div>

                    <!-- Attribute Div -->
                    <div id='AttrDiv'>
                        <p>Select Attribute</p>
                        
                    <form>
						<ul>
							<li><input type="radio" class="radio" name="attribute" value="cases"  id="cases" checked>
								<label for="cases">Cases</label></li>

							<li><input type="radio" class="radio" name="attribute" value="activeCases"  id="activeCases">
								<label for="activeCases">Active Cases</label></li>


							<li><input type="radio" class="radio" name="attribute" value="deaths" id="deaths">
								<label for="deaths">Deaths</label></li>

							<li><input type="radio" class="radio" name="attribute" value="recovered" id="recovered">
								<label for="recovered">Recovered</label></li>
						</ul>
                    </form>
                    </div>

                    <!-- Refresh button -->
                    <button id='refresh'>Refresh</button>
                
                </div>
            </div>
			<div id='lastUpdated'>
			<p></p>
			<div id='myName'>Project by Nishi Anand</div>
		</div>
        </div>


        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://d3js.org/d3.v4.js"></script>
   <script src="app.js"></script>
        <script src="Piechart/pie.js"></script>
    </body>
</html>