<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://img.icons8.com/wired/64/000000/coronavirus.png" />
    <title>Coronavirus Data Dashboard</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="Scatterplot/scatStyle.css">
</head>
<body>


    <!-- ----------------------------------------- Loading div ----------------------------------------- -->
    <div class='loadingIcon'><i class="fas fa-virus fa-8x"></i></div>

    <!-- ----------------------------------------- Content ----------------------------------------- -->
    <div class="content">

        <!-- NAV BAR -->
        <div id='navBtn'><i class="fas fa-times fa-lg"></i></div>

        <nav>
            <ul id='navUL' class='navcollaps'>
                <li class='navLinks '><a href='/map'><i class="fas fa-globe-asia fa-lg"></i></a></li>
                <li class='navLinks currentNV'><a href='/scatterplot'><i class="far fa-circle fa-lg"></i></a></li>
                <li class='navLinks'><a href='/barchart'><i class="far fa-chart-bar fa-lg"></i></a></li>
                <li class='navLinks'><a href='/piechart'><i class="fas fa-chart-pie fa-lg"></i></a></li> 
                <li class='navLinks'><a href='/info'><i class="fas fa-info-circle fa-lg"></i></a></li> 
            </ul>
        </nav>

        <!-- ALERT MESSAGE -->
        <div class='alert hide'>
            <i class="fas fa-exclamation-triangle fa-lg"></i>
            <p>Data unavailable!</p>
            <button id="crossbtn"><i class="fas fa-times fa-lg"></i></button>
        </div>

        <!-- TITLE -->
        <h1 id='title'>Coronavirus Data Dashboard <i class="fas fa-virus"></i> <br> <span id='mainTitleDate'></span></span></h1>
              

        <!-- CONTAINER -->
        <div id='container'>

            <div id='totalValues'>
                <div id='tCases'>
                    <p id='tCasesTitle'>Cases Worldwide</p>
                    <p id='tCasesValue'></p>
                    <p id='newtCasesValue'></p>
                </div>
                <div id='tDeaths'>
                    <p id='tDeathsTitle'>Deaths Worldwide</p>
                    <p id='tDeathsValue'></p>
                    <p id='newtDeathsValue'></p>
                </div>
                <div id='tRecovered'>
                    <p id='tRecoveredTitle'>Recovered Worldwide</p>
                    <p id='tRecoveredValue'></p>
                    <p id='newtRecoveredValue'></p>
                </div>
            </div>

            <!-- SCATTERPLOT TITLE -->
            <h1 id='scatTitle'>Scatterplot - Cases (2021-04-12)</h2>
    
            <!-- Scat SVG -->
            <div id='ScatDiv'>
                <svg version="1.1"
                baseProfile="full"
                xmlns="http://www.w3.org/2000/svg" id='scat'
                viewBox="0 0 1200 600" enable-background="new 0 0 1200 600" 
                xml:space="preserve"></svg>
            </div>

            <!-- User selection div -->
            <div id='userAttr'>

                <!-- Scale display -->
                <div id="scaleDisp">
                    <p id='scaleDispTitle'>Scatterplot Scales</p>
                    <p>X - Axis : <span class="scaleCont">Confirmed Cases</span></p>
                    <p>Y - Axis : <span class="scaleCont">Deaths</span></p>
                    <p>Color : <span class="scaleCont">Active Cases(Green ➝ Red)</span></p>
                    <p>Radius : <span class="scaleCont">Recovered</span></p>
                </div>


                <!-- Date div -->
                <div id='dateDiv'>
                    <p>Enter date</p>
                    <input id='dateInput' type="date">
                    <!-- Refresh button -->
                    <button id='refresh'>Refresh</button>
                </div>

            </div>

            <div id='lastUpdated'>
                <p></p>
            </div>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v4.js"></script>
   <script src="app.js"></script>
    <script src="Scatterplot/scat.js"></script>
</body>
</html>